@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
        <br/>
    <h1 class="display-4">Bem vindo</h1>
        <br/>
    <p>Projeto elaborado como teste e forma de aprendizado.</p>
        <p>Neste projeto elaboramos com auxilio do banco de dados SqlServer um crud o qual precisariamos fazer um app para configurar cadastros de usuários.</p>
</div>
